*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  background-color: darksalmon;
  border: 2px solid red;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.clock{
  background-color: antiquewhite;
  width: fit-content;
  height: fit-content;
}