*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}


body{
  margin-top: 100px;
  margin-left: 100px;
  font-size: larger;
  background-color: antiquewhite;
}

ol, ul , h3, div{
  margin-top: 20px;
}

.text-color {
   color: red;
}