*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
  font-family: cursive;
}

body{
  text-align: center;
}

.tables{
  margin: 20px;
  width: 90vw;
}

ul{
  list-style-type:none;
}