*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: lightseagreen;
  color: black;
  text-align: center;
}

.main-container{
  margin: 150px 300px;
  border: 2px solid white;
  background-color: lightcoral;   
}

#r-btn{
  margin-top: 20px;
  border-radius: 10px;
  width: 100px;
  display:none;
}

.top-container{
  margin: 20px 0px;
  line-height: 30px;
}

#form{
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 60px;
}

#btn{
  margin-top: 20px;
  border-radius: 10px;
  width: 100px;
}


.bottom-container{
  margin-bottom: 20px;
  line-height: 30px;
}